
#inp #inputGroupPrepend2, #neueEmailBestätigen_btn, #passworändern_btn{
    background-color: #E30013;
    color: #ffffff;
    border-color: #E30013;
    font-size: 20px;
    -webkit-box-shadow: 10px 10px 12px -7px rgba(51,51,51,1); 
    -moz-box-shadow: 10px 10px 12px -7px rgba(51,51,51,1); 
    box-shadow: 10px 10px 12px -7px rgba(51,51,51,1);
    padding-top: 3px;
    padding-bottom: 3px;
}

#inp-g .form-control{
    
    -webkit-box-shadow: 10px 10px 12px -7px rgba(51,51,51,1); 
    -moz-box-shadow: 10px 10px 12px -7px rgba(51,51,51,1); 
    box-shadow: 10px 10px 12px -7px rgba(51,51,51,1);
}

#inp-g .form-control:focus, #neueEmailBestätigen_btn:hover, #passworändern_btn:hover  {
    border-color: #E30013;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 10px rgba(247, 101, 91, 0.5); 
}

#dozÜberschrift{
    
    text-align: left;
    display: inline;
    margin-left: 20px;
}
#vorÜberschrift{
    display: inline;
    float: right;
    margin-right: 20px;
}

.form-row{
    margin:0;
}
.list-group{
    max-height: 450px;
    margin-bottom: 10px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

.inputfields {
    margin-top: 0;
}



#dozent{
    
   
    margin-right: 4%;
    width: 100%;
    height: auto;
    display: inline-block;
}

#vorlesung{
    margin-right: 4%;
    width: 100%;
    height: auto;
    display: inline-block;
    
}
#dozentenverzeichnis {
    width: 49.5%;
    float: left;
}
.trash2{
    width: 10%;
    
    text-align: center;
}
.trash2:hover{
    -webkit-transform: scale(1.25,1.25);
    -webkit-transition: all 0.3s ease-in-out;
}

#vorlesungverzeichnis {
    width: 49.5%;
    float: right;

}

#anlegen{
     display: block;
     margin: 0 auto;
 
}

#neuerdozent{
    margin-top: 100px;
    padding-top: 20px;
}

#neuevorlesung{
    margin-top: 25px;
    padding-top: 20px;
}


#dozsearch {
    margin-top: 25px;
    height: 555px;
}

.row{
    margin-top: 6px;
}

#col-md-4-mb-3 {
    padding-left: 12px;
    padding-right: 12px;
}

#searchDozent{
    padding-right: 0;
    margin-right: 4%;
}

#searchVorlesung{
    padding-left: 0;
}

.mb-2{
    text-decoration: underline;
}
#inputDozent{
    width: 100%;
    float: right;
}

#inputVorlesung{
    width: 100%;
    float: left;
}


#vorlesung{
    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: -10px;
    margin-bottom: 0;
}

#dozent{
    width: 100%;
    height: auto;
    display: inline-block;
}



