#dozenten{
    width: 27%;
    height: auto;
    display: inline-block;
    margin-right: 4%;
}
  
#termine{
    width: 69%;
    height: auto;
    display: inline-block;
    top:0;
    vertical-align: top;
}

#begruessung{
    padding-top: 10px;
}
.rahmenlogohome{

    height: 150px;
    width: 150px;
    border: solid 2px #E30013;
    border-radius: 50%;
    display: inline-block;
    background: url('./data/logo.jpg');
    background-size: cover;
    
}

.youtubevideo{
    width:420px;
    height:315px;
    float: right;
    margin-right: 15px;
}

#begruessung2{
    margin-top: 30px;
    padding-top: 10px;
    height: 430px;
}

#begruessung3{
    margin-top: 30px;
    padding-top: 10px;
    height: auto;
}

#search{
    margin-top: 0;
    background-color: #E30013;
    border-color: #E30013;
}

#heuteVer{
    margin-bottom: 5px;
    font-size: 17px;
}



@media (max-width: 600px) {
    .display-4{
        font-size: 23px;
    }

    #heuteVer{
        font-size: 15px;
    }
    .boxen{
        width:100%;
        height: auto;
    }
}