#dozenten{
    width: 27%;
    height: auto;
    display: inline-block;
    margin-right: 4%;
}
  
#termine{
    width: 69%;
    height: auto;
    display: inline-block;
    top:0;
    vertical-align: top;
}