#dozenten{
    width: 27%;
    height: auto;
    display: inline-block;
    margin-right: 4%;
}
  
#termine{
    width: 69%;
    height: auto;
    display: inline-block;
    top:0;
    vertical-align: top;
}

#begruessung{
    padding-top: 10px;
}
.rahmenlogohome{

    height: 150px;
    width: 150px;
    border: solid 2px #E30013;
    border-radius: 50%;
    display: inline-block;
    background: url('./data/logo.jpg');
    background-size: cover;
    
}

.beg-text{

    margin-left: 15px;
    width: 50%;
    display: inline-block;
}

.youtubevideo{
    width:420px;
    height:315px;
    float: right;
    margin-right: 15px;
}

#begruessung2{
    margin-top: 30px;
    padding-top: 10px;
    height: 430px;
}

#search{
    margin-top: 0;
    background-color: #E30013;
    border-color: #E30013;
}

@media (max-width: 1050px) {
    #begruessung2{
        margin-top: 30px;
        padding-top: 10px;
        height: 830px;
    
}
.youtubevideo{
    width:60%;
    height: auto;
    margin: 15px;
    float: left;
}
.beg-text{

    margin: 15px;
    width: 95%;
    display: block;
}
}