
#inp #inputGroupPrepend2{
    background-color: #E30013;
    color: #ffffff;
    border-color: #E30013;
    font-size: 20px;
    -webkit-box-shadow: 10px 10px 12px -7px rgba(51,51,51,1);
    -moz-box-shadow: 10px 10px 12px -7px rgba(51,51,51,1);
    box-shadow: 10px 10px 12px -7px rgba(51,51,51,1);
    padding-top: 3px;
    padding-bottom: 3px;
}

#inp-g .form-control{
    border-color: #ffffff;
    -webkit-box-shadow: 10px 10px 12px -7px rgba(51,51,51,1);
    -moz-box-shadow: 10px 10px 12px -7px rgba(51,51,51,1);
    box-shadow: 10px 10px 12px -7px rgba(51,51,51,1);
}

#inp-g .form-control:focus {
    border-color: #E30013;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 10px rgba(247, 101, 91, 0.5);
}

.form-row{
    margin:0;
}

.inputfields {
    margin-top: 0;
}

#kurs{
    margin-top: 40px;
    width: 48%;
    height: auto;
    display: inline-block;
    margin-right: 4%;
}

#inputAddIdKurs{
    display: none;
}

#semester{
    margin-top: 40px;
    width: 48%;
    height: auto;
    display: inline-block;
}

#show{
    margin-top: 10px;
}

.row{
    margin-top: 6px;
}

#semHinErr{
    background-color: #E30013;
    color: #ffffff;
    border: none;
    margin-top: 10px;
    margin-bottom: 40px;
}

#kurDelErr{
    background-color: #E30013;
    color: #ffffff;
    border: none;
    margin-top: 10px;
    margin-bottom: 40px;
}

#searchKurs{
    padding-right: 0;
    margin-right: 4%;
}

#searchSemester{
    padding-left: 0;
}

#show-header{
    text-align: center;
}

#inputKurs{
    width: 75%;
    float: right;
}

#inputSemester{
    width: 75%;
    float: left;
}

#termine-search{
    margin-left: 4%;
    background-color: #E30013;
    border-color: #E30013;
}

cite{
    color: #5C6971;
}

#show-main{
    margin-top: -5px;
    /* border-top: solid 1px #5C6971;
    border-left: solid 1px #5C6971;
    border-right: solid 1px #5C6971;
    border-bottom: solid 1px #5C6971; */
    border-radius: 3.5px;

}

#show-main:hover{
    border-color:#ffffff;
}

.kurs{
    width: 80%;
    height: auto;
    padding: .375rem .75rem;
    /* border-bottom: solid 1px #5C6971; */
    text-align: center;
    /* margin-left: 9px; */
    white-space: nowrap;
}

.check{
    width: 10%;
    padding: .375rem .75rem;
    /* border-bottom: solid 1px #5C6971; */
    text-align: center;

    /* margin-right: 9px; */
    white-space: nowrap;
}


.kurs:hover + .trash{
    -webkit-transform: scale(1.25,1.25);
    -webkit-transition: all 0.3s ease-in-out;
}

.trash{
    width: 10%;
    padding: .375rem .75rem;
    
}

#show-main .d-flex{
    margin-left: 9px;
    margin-right: 9px;
}

.check{
    text-align: center;
}

.trash{
    text-align: center;
}

.trash:hover{
    -webkit-transform: scale(1.25,1.25);
    -webkit-transition: all 0.3s ease-in-out;
}


.kurs:hover{
    color: white;
    background-color: #E30013;
    border-radius: 3.5px;
}

#semesterRahmen{
    border-radius: 3.5px;
}


.semester{
    width: 76%;
    padding: .175rem .75rem;
    text-align: center;
    border: solid 1px #ffffff;
    border-radius: 3.5px;
    margin-left: 2%;
    margin-right: 2%;
}

.semester:hover{
    color: #E30013;
    border: solid 1px #E30013;
}

.fuellelement{
    width: 10%;
    height: auto;
}

.semester:hover + .trash{
    -webkit-transform: scale(1.25,1.25);
    -webkit-transition: all 0.3s ease-in-out;
}


@media (min-width: 1300px){
    #inputKurs{
        width: 50%;
        float: right;
    }
    
    #inputSemester{
        width: 50%;
        float: left;
    }
    #termine-search{
        margin-left: 20px;
    }
}


@media (max-width: 600px) {
    #kurs{
        width: 100%;
        height: auto;
        display: inline-block;
    }
    
    #semester{
        width: 100%;
        height: auto;
        display: inline-block;
        margin-top: -10px;
        margin-bottom: 0;
    }

    #search{
        margin-top: 0;
    }

    #inputKurs{
        width: 65%;
        float: right;
    }
    
    #inputSemester{
        width: 65%;
        float: left;
    }

    
  }