#userbutton {
    /*Der Knopf Männchen*/
    background: transparent;
    border: none;
    color: transparent;
    margin-right: 7px;
}

#modalbuttonsredpd, #modalbuttonsredpw{
    margin-top: 15px;
    margin: 0 auto;
}

#inputgroop_changepw, #inputgroop_changeemail, #changetel, #changename{
    margin: 10px;

}
#changetel, #changename {
   align-self: center;
}

#inputgroop_changeemail, #inputgroop_changepw{

 margin: 14px;
 width: 94%;
}






